/** Insert custom CSS for any additional content in the welcome page **/
.welcome-wallet-button {
    border: 0;
    font-size: 14px;
    background: #0074E0;
    border-radius: 3px;
    color: #FFFFFF;
    cursor: pointer;
    width: 150px;
    height: 32px;
    position: absolute;
    top: 32px;
    right: 70px;
    //z-index: $zindex2;

    &:focus-within {
        outline: auto 2px #022e61;
    }
}

#meeting_start {
    display: flex;
    margin: 0 auto;
}

.welcome-page-button {
    margin-right: 25;
}

.welcome-guild-button {
    margin-right: 25px;
    border: 0;
    font-size: 14px;
    padding: 0px 20px;
    background: #0074e0;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
}

.metamask-button {
    margin: 0 auto;
    color: black;
    background: lightblue;
    width: calc(80%);
    padding: 10px 0px;
}

.guild-select-button {
    margin: 0 auto;
    color: white;
    background: #3732464f;
    width: calc(50%);
    padding: 10px 0;
    display: inline-block;  
}
.guild-list-head {
    text-align: center;
    color: #FFF;
    font-size: 16px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0;
    margin-bottom: 20px;
}

.guild-list-row {
    width: 100%;
    text-align: center;
    margin: 10px;
    position: relative;
}

.guild-link-button {
    display: inline-block;
    background-color: transparent;
    border-radius: 0px;
    border-color: transparent;
    /* margin: auto auto; */
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.guild-modal-text-div {
    text-align: center;
    font-size: 14;
    margin-bottom: 20;
}    

.guild-modal-text-input {
    width: 250px;
    margin-bottom: 30px;
    height: 30px;
}
